<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>ShoppingScreensServlet</servlet-name>
        <servlet-class>com.th3l4b.testbed.screens.shopping.web.ShoppingScreensServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ShoppingRESTServlet</servlet-name>
        <servlet-class>com.th3l4b.testbed.screens.shopping.web.ShoppingRESTServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ShoppingSyncServlet</servlet-name>
        <servlet-class>com.th3l4b.testbed.screens.shopping.web.ShoppingSyncServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShoppingScreensServlet</servlet-name>
        <url-pattern>/ShoppingScreensServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShoppingRESTServlet</servlet-name>
        <url-pattern>/ShoppingRESTServlet/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ShoppingSyncServlet</servlet-name>
        <url-pattern>/ShoppingSyncServlet/*</url-pattern>
    </servlet-mapping>

</web-app> 
